@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


/* Slick carousel styles */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
}

.slick-prev,
.slick-next {
  z-index: 1;
  color: #fff;
}

.slick-dots li button:before {
  color: #e75709;; /* Orange dots for indicators */
}

.slick-dots li.slick-active button:before {
  color: #e75709;; /* Highlight active dot */
}
